/* ここから、テーブルの設定 */

/*要素部分の設定*/
.metrics {
    background-color: gainsboro;
    color: black;
}

/*テーブル行の透明化*/
.cleared-row {
    border: none;
    color: #fff;
    height: 18px;
}

caption { 
    text-align: left;
    font-size: 14px;
}

/*テーブル共通設定（文字揃えなど）*/
table.tbl-common td {
    vertical-align: top; /*テキスト水平位置*/
    text-align: center; /*テキスト垂直位置*/
    border: solid darkgrey 1px;
    font-size: 12px;
}
table.tbl-common td.bad-value {
    border-right:double darkgray; /*差の所だけ二重罫線*/
}

/*全体指標テーブル固有設定*/
table.tbl-all-metrics {
    width: 350px;
    border: solid gainsboro 1px;
    border-collapse: collapse;
}
table.tbl-all-metrics td {
    width: 70px;
}

/*グラフプロットテーブル固有設定*/
table.tbl-graph-plotting {
    width: 750px;
    border: solid gainsboro 1px;
    border-collapse: collapse;
    float: left;
}

/* ここまで、テーブルの設定 */


