#virtable　{
/*width:780px;*/
margin-left:auto;
margin-right:auto;
border-top: 1px solid #999;
border-left: 1px solid #999;
border-right: 1px solid #999;
border-bottom: 1px solid #999;
}

#virtable tbody {
    display: block;
}


.metrics {
    background-color: darkgray;
    color: white;
}

.cleared-row {
    border: none;
    color: #fff;
    height: 18px;
}

caption { 
    text-align: left;
}

table.centerali th,
table.centerali td {
    vertical-align: top;
    text-align: center;
}

table.table-all-metrics {
    /*height: 180px;*/
}
